@{
    ViewData["Title"] = "Home Page";
}

<div id="show">

</div>



@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            // Fetch API
            let $show = $('#show');
            let url = 'https://localhost:44359/customer'
            let targetId = 'A54A';
            let result = '';
            // Get
              fetch(url, {
                  method: 'GET',
                  headers: new Headers({
                      'Content-Type': 'application/json'
                  })
              }).then(res => res.json())
              .then(response => {
                    result += JSON.stringify(response) + '<br />';
                    $show.html(result);
              })
              .catch(error => {
                 result += JSON.stringify(error) + '<br />';
                $show.html(result);
            });
            fetch(url + '/' + targetId, {
                method: 'GET',
                headers: new Headers({
                    'Content-Type': 'application/json'
                })
            }).then(res => res.json())
              .then(response => {
                    result += JSON.stringify(response) + '<br />';
                    $show.html(result);
              })
              .catch(error => {
                 result += JSON.stringify(error) + '<br />';
                $show.html(result);
            });

            //Post
            fetch(url, {
                method: 'POST',
                body: JSON.stringify({ 'Id': 'test-1', Name: 'test-1', Location: 'tw' }),
                headers: new Headers({
                    'Content-Type': 'application/json'
                })
            }).then(res => res.json())
              .then(response => {
                    result += JSON.stringify(response) + '<br />';
                    $show.html(result);
              })
              .catch(error => {
                 result += JSON.stringify(error) + '<br />';
                $show.html(result);
            });

            //Put
            fetch(url + '/' + targetId, {
                method: 'PUT',
                body: JSON.stringify({ Id: targetId, Name: 'changed', Location: 'changed' }),
                headers: new Headers({
                    'Content-Type': 'application/json'
                })
            }).then(res => res.json())
              .then(response => {
                    result += JSON.stringify(response) + '<br />';
                    $show.html(result);
              })
              .catch(error => {
                result += JSON.stringify(error) + '<br />';
                $show.html(result);
            });

            //Patch
             fetch(url + '/' + targetId, {
                method: 'PATCH',
                body: JSON.stringify({ Location: 'changed' }),
                headers: new Headers({
                    'Content-Type': 'application/json'
                })
            }).then(res => res.json())
              .then(response => {
                    result += JSON.stringify(response) + '<br />';
                    $show.html(result);
              })
              .catch(error => {
                result += JSON.stringify(error) + '<br />';
                $show.html(result);
            });

            //Delete
            fetch(url + '/' + targetId, {
                method: 'DELETE',
                headers: new Headers({
                    'Content-Type': 'application/json'
                })
            }).then(res => res.json())
              .then(response => {
                    result += JSON.stringify(response) + '<br />';
                    $show.html(result);
              })
              .catch(error => {
                result += JSON.stringify(error) + '<br />';
                $show.html(result);
            });

        });


        //$(document).ready(function () {
          
        //    // JQuery
        //    let $show = $('#show');
        //    let url = 'https://localhost:44359/customer'
        //    let targetId = 'A54A';
        //    let result = '';
        //    // Get
        //    $.ajax({
        //        type: 'GET',
        //        url: url,
        //        contentType: 'application/json;',
        //        success: function (response) {
        //             result += JSON.stringify(response) + '<br />';
        //             $show.html(result);
        //        },
        //        error: function (error) {
        //           result += JSON.stringify(error.responseJSON)  + '<br />';
        //           $show.html(result);
        //        }
        //    });
        //     $.ajax({
        //        type: 'GET',
        //        url: url+ '/'+targetId,
        //        contentType: 'application/json;',
        //        success: function (response) {
        //             result += JSON.stringify(response) + '<br />';
        //             $show.html(result);
        //        },
        //        error: function (error) {
        //           result += JSON.stringify(error.responseJSON) + '<br />';
        //           $show.html(result);
        //        }
        //     });

        //    // Post
        //     $.ajax({
        //        type: 'POST',
        //        url: url,
        //        data:JSON.stringify({ Id: targetId, Name: 'changed', Location: 'changed' }),
        //        contentType: 'application/json;',
        //        success: function (response) {
        //             result += JSON.stringify(response) + '<br />';
        //             $show.html(result);
        //        },
        //        error: function (error) {
        //           result += JSON.stringify(error.responseJSON) + '<br />';
        //           $show.html(result);
        //        }
        //    });

        //     // Put
        //     $.ajax({
        //        type: 'PUT',
        //           url: url+ '/'+targetId,
        //        data:JSON.stringify({ Id: targetId, Name: 'changed', Location: 'changed' }),
        //        contentType: 'application/json;',
        //        success: function (response) {
        //             result += JSON.stringify(response) + '<br />';
        //             $show.html(result);
        //        },
        //        error: function (error) {
        //           result += JSON.stringify(error.responseJSON) + '<br />';
        //           $show.html(result);
        //        }
        //     });

        //     // Patch
        //     $.ajax({
        //        type: 'PATCH',
        //        url: url+ '/'+targetId,
        //        data:JSON.stringify({  Location: 'changed' }),
        //        contentType: 'application/json;',
        //        success: function (response) {
        //             result += JSON.stringify(response) + '<br />';
        //             $show.html(result);
        //        },
        //        error: function (error) {
        //           result += JSON.stringify(error.responseJSON) + '<br />';
        //           $show.html(result);
        //        }
        //     });

        //     // Delete
        //     $.ajax({
        //        type: 'DELETE',
        //        url: url+ '/'+targetId,
        //        contentType: 'application/json;',
        //        success: function (response) {
        //             result += JSON.stringify(response) + '<br />';
        //             $show.html(result);
        //        },
        //        error: function (error) {
        //           result += JSON.stringify(error.responseJSON) + '<br />';
        //           $show.html(result);
        //        }
        //    });
        //});



    </script>
}